/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/.htaccess
.htaccess
composer.lock
package-lock.json
package.json
/eth/
/db/
sepolia_addresses.json
sepolia_new_addresses.json
ref_config.txt
resources/views/admin/webhooks/index_old.blade.php
